<%= title "Forgot Your Password?", :h2 %>
<% form_for @password do |f| %>
  <%= f.error_messages %>
  <p>That's okay! We forget ours too. Give us your email address and we'll send you a link to reset your password.</p>
	<% f.field_set "Enter Your Email Address" do %>
		<%= f.text_field :email %>
	<% end %>
	<%= f.submit 'Submit' %>
<% end %>
